<a href="https://colab.research.google.com/github/rsrijana/DataAnalyst/blob/main/IIDS_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [9, 10, 11, np.nan]
}
df = pd.DataFrame(data)
df_cleaned = df.dropna() # Drop rows with any missing values
print(df_cleaned)

     A    B    C
0  1.0  5.0  9.0

In [ ]:
import pandas as pd
import numpy as np

data = {'Name': ['srijana', 'jaa', 'sree'], 'Age': [20, 15, 22]}
df  = pd.DataFrame(data)
print(df)

      Name  Age
0  srijana   20
1      jaa   15
2     sree   22

In [ ]:
import pandas as pd
import numpy as np
read_date = pd.read_excel('/content/Employeeinfo.xlsx')
clead_data = read_date.dropna()
print(clead_data)

    Employee_ID      Name   Department   Salary  Hire_Date
0             1   Alice A      Finance  75000.0 2019-05-15
1             2       Ram  Engineering  82000.0 2020-07-22
4             5     Ram J      Finance  77000.0 2019-12-01
6             7     Heena           HR  59000.0 2017-04-23
7             8      Rita  Engineering  88000.0 2019-09-30
10           11     Mohan      Finance  80000.0 2021-02-11
12           13  Ram hari           HR  61000.0 2020-04-15
13           14      Jack      Finance  73000.0 2018-10-02
16           17     Grace           HR  54000.0 2020-06-25
17           18     Jeena      Finance  81000.0 2018-09-18
19           20      Alex           HR  60000.0 2019-08-14

In [ ]:
avg_salary = df["Salary"].mean()
print(avg_salary)
max_salary = df["Salary"].max()
print(max_salary)
min_salary = df["Salary"].min()
print(min_salary)

71818.18181818182
88000.0
54000.0